<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
<!-- Logging Properties -->
<Properties>
<Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
<Property name="APP_LOG_ROOT">${sys:catalina.home}/logs</Property>
</Properties>
<Appenders>
<!-- Console Appender -->
<Console name="Console" target="SYSTEM_OUT" follow="true">
<PatternLayout pattern="${LOG_PATTERN}"/>
</Console>
 <!-- File Appenders on need basis -->
<RollingFile name="AppenderName" fileName="${APP_LOG_ ROOT}/StubName-${date:yyyy-MM-dd}/ServletName-${date:yyyy-MM-dd}.log"
filePattern="${APP_LOG_ROOT}/StubName-${date:yyyy-MM-dd}/ServletName-%d{yyyy-MM-dd}-%i.log" >
<LevelRangeFilter minLevel="ERROR" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
<PatternLayout pattern="${LOG_PATTERN}"/>
<Policies>
<TimeBasedTriggeringPolicy interval="1" modulate="true" />
<SizeBasedTriggeringPolicy size="1024KB" />
</Policies>
<DefaultRolloverStrategy max="100"/>
</RollingFile>
</Appenders>
<Loggers>
<Logger name="NumbersToWords_log" additivity="false" level="info">
<AppenderRef ref="AppenderName" />
</Logger>
</Loggers>
</Configuration>